[submodule "source/classes/TestToolkit"]
	path = source/classes/TestToolkit
	url = https://github.com/DaphneWebFramework/TestToolkit.git
[submodule "source/classes/Charis"]
	path = source/classes/Charis
	url = https://github.com/DaphneWebFramework/Charis.git
